header{
    background-color:#244751;
    color:#E8FDFF;
    padding-left: 20px;
}
body{
    background-color:whitesmoke;
}
main{
    background-color:white;
    padding: 16px;
}
.finstagram-post{
    margin-bottom:48px;
}
.finstagram-post .user-info img {
    border-radius: 50%;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
}
a.photo{
    transition: padding 1s ease-in-out;
}
a.photo:hover{
    padding: 60px;
    border-radius: 25%;
}
a.photo img{
    transition: border-radius 1s ease-in-out;
}
a.photo img:hover{
    border-radius: 50%;
}